<div class="container mt-5" style="max-width: 500px;">
  <h3 class="mb-4 text-center">Reset Password</h3>

  <div *ngIf="message" class="alert alert-success">{{ message }}</div>
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <form *ngIf="tokenValid && !message" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        id="newPassword"
        [type]="showPasswords ? 'text' : 'password'"
        class="form-control"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
      />
    </div>

    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        id="confirmPassword"
        [type]="showPasswords ? 'text' : 'password'"
        class="form-control"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
      />
    </div>

    <div class="form-check mb-3">
      <input id="showResetPasswords" class="form-check-input" type="checkbox" [(ngModel)]="showPasswords" name="showResetPasswords" />
      <label for="showResetPasswords" class="form-check-label">Show passwords</label>
    </div>

    <button class="btn btn-primary w-100" [disabled]="isLoading" type="submit">
      <span *ngIf="!isLoading">Change Password</span>
      <span *ngIf="isLoading">Updating...</span>
    </button>
  </form>

  <div class="text-center mt-3">
    <a routerLink="/admin" class="text-decoration-none">Back to login</a>
  </div>
</div>
