/* You can add global styles to this file, and also import other style files */
:root,
.root {
    --primary: #2E7C8A;
    --primary-light: #E5F2F7;
    --accent-orange: #F7BDAF;
    --accent-red: #E6371E;
    --accent-yellow: #FDC756;
    --dark: #3B4B5C;
    --white: #ffffff;
    --light-gray: #E5F2F7;
    --dark-gray: #333333;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .fw-bold, .fw-semibold, .form-title, .brand-logo, .section-title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
